.search {
    display: block;
    position: fixed;
    top: 0;
    width: $wrapper_width;
    z-index: 2;
}

.search__input {
    border: 0;
    background-color: $tropical_rain_forest;
    color: $white;
    font-size: 18px;
    margin: 0;
    padding: 15px 10px;
    transition: .125s box-shadow ease-in-out;
    width: 100%;


    &:focus {
        background-color: darken($tropical_rain_forest, 5%);
        outline: none;
    }

    &::placeholder {
        color: inherit;
    }
}