// palette
$pearl: rgba(232, 221, 203, 1);
$brown_yellow: rgba(204, 171, 106, 1);
$tropical_rain_forest: rgba(3, 101, 100, 1);
$prussian_blue: rgba(3, 54, 73, 1);
$maastricht_blue: rgba(3, 22, 52, 1);
$white: #ffffff;
$black: #000000;
$lightGray: #eeeeee;

// measures
$f_width: 100vw;
$f_height: 100vh;
$wrapper_width: 300px;
$map_width: 100vw;
$menu_left: 20px;