// palette
$pearl: rgba(232, 221, 203, 1);
$brown_yellow: rgba(204, 171, 106, 1);
$tropical_rain_forest: rgba(3, 101, 100, 1);
$prussian_blue: rgba(3, 54, 73, 1);
$maastricht_blue: rgba(3, 22, 52, 1);

// measures
$f_width: 100vw;
$f_height: 100vh;
$app_width: 350px;
$map_width: calc(#{$f_width} - #{$app_width});

body {
    margin: 0;
}

.map {
    left: $app_width;
    height: $f_height;
    position: absolute;
    width: $map_width;
}
.app {

    left: 0;
    height: $f_height;
    max-width: $app_width;
    position: absolute;
    top: 0;
    width: $app_width;
    z-index: 2;
}

.itemInfo {
    // display: none;
    // bottom: 20px;
    // position: absolute;

    // width: 350px;
    background: red;
    // height: 240px;
    // z-index: 3;
    // right: 10px;
    // overflow-y: auto;
    padding: 30px;
}

@import "search";